// reset
html, body, div, ul, ol, li, p {
  display: block;
  margin: 0;
  padding: 0;
}
body {
  background-color: #ddd;
}
li {
  list-style: none;
}

.card {
  padding: 10px;
  margin: 10px;
  background-color: #fff;
  input {
    width: 100%;
  }
}

// project-list
.project-list {
  .item {
    .card();
    float: left;
    width: 300px;
  }
}
.tad-list {
  float: left;
  width: 300px;
  .item {
    .card();
  }
}
